.nav__menu {
  display: flex;
  align-items: center;
  column-gap: 2.8rem;
  margin-bottom: 20px;
}

.nav__menu a {
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.nav__menu a:hover {
  color: rgba(161, 161, 170, 0.3);
}

.footer__copyright,
.footer__top {
  border-top: 1px solid rgba(161, 161, 170, 0.3);
  padding-top: 20px;
}

.footer__copyright p {
  font-size: 0.8rem;
  text-align: center;
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  .footer__top {
    display: none;
  }
}
