@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: rgba(17, 17, 17, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: #fff;
}

p {
  color: rgba(0, 0, 0, 0.6);
  line-height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h2 {
  font-size: 2.5rem !important;
}

section {
  padding-top: 150px;
}

.subtitle {
  color: var(--primary-color) !important;
  font-weight: 400;
  margin-left: 40px;
  position: relative;
}

.subtitle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -40px;
  width: 30px;
  height: 1px;
  background: var(--primary-color);
  color: var(--primary-color);
}

footer {
  padding-bottom: 10px;
  padding-top: 60px;
  border-top: 1px solid #171f38;
}

.primary__btn {
  background: transparent !important;
  padding: 7px 25px !important;
  border: 1px solid var(--primary-color) !important;
  border-radius: 5px;
}

.primary__btn a {
  text-decoration: none;
  color: var(--primary-color);
  background: transparent !important;
}

.secondary__btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 7px 25px;
}

.secondary__btn a {
  color: var(--primary-color) !important;
}
.primary__btn a:hover,
.secondary__btn a:hover {
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 10px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: #171f38;
}

@media only screen and (max-width: 992px) {
  p {
    font-size: 0.9rem !important;
  }

  .primary__btn a,
  .secondary__btn a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding-top: 110px;
  }

  footer {
    padding-top: 0;
    border: none;
  }
}
